
<body>
    <h1>This is our Javascript Quiz</h1>

        <div class="quiz-container">
            <div id="questionGoesHere">

                <h3>I am a question that needs to be answered.</h3>

            </div>
                <div id="answersGoHere">

                    <ul>
                        <input id="btn-1" name="jsQuiz" type= "radio"/><span>1</span>
                        <input id="btn-2" name="jsQuiz" type= "radio"/><span>2</span>
                        <input id="btn-3" name="jsQuiz" type= "radio"/><span>3</span>
                        <input id="btn-4" name="jsQuiz" type= "radio"/><span>4</span>
                    </ul>

                </div>
        </div><br>

    <button id="previous-question">Previous Question</button>
    <button id="next-question">Next Question</button>
</body>
