.centered {
  text-align: center;
}

input,
.btn {
  padding: 5px;
  margin: 20px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  min-height: 350px;
}

.arrow-container-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow-container-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-colored {
  color: greenyellow;
  text-shadow: 1px 1px 1px black;
}

.icon-colored:hover {
  color: black;
  text-shadow: 1px 1px 1px red;
  cursor: pointer;
}

/*--------------------------------------------------------------*/
  /*-------------------- RESULTS PAGE CSS -----------------------*/
  /*--------------------------------------------------------------*/
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .header {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: black;
    color: rgb(187, 187, 8);
  }
  
  .resultsBox{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
    min-height: 300px;
    background-color: rgba(255, 185, 185, 0.678);
    width: 70%;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    box-shadow: 1px 1px 3px 3px rgba(136, 136, 136, 0.897);
    transform: translate(20%);
    
  }
  
  .incorrectAnswers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    min-height: 350px;
    max-height: 350px;
    background-color: white;
    width: 80%;
    overflow: scroll;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 2px;
    
  }
  
  h2 {
    padding-top: 20px;
  }
  
  h1 {
    padding-left: 40px;
    font-weight: bold;
  }
  
  .restartQuiz {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 1px;
    background-color: black;
    color: white;
    padding: 5px;
    width: 15%;
    min-height: 50px;
    font-size: 22px;
  }
  
  button:hover {
    background-color: rgb(5, 145, 133);
    opacity: .85;
    transform: scale(1.1);
    transition: transform .5s, opacity .5s, background-color .5s;
  }
  